html {
  font: 16px Helvetica, Arial;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#chat-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  font-size: 0;
  background-color: #1d1d1d;
}

#chat-form button {
  padding: 0.5rem;
  width: 10%;
  border: none;
  background-color: #80bd01;
}
#message-text {
  padding: 0.5rem;
  width: 90%;
  border: 0;
}

#chat {
  list-style-type: none;
}
#chat li {
  background: #eee;
  padding: 0.5rem;
}
#chat li:nth-child(odd) {
  background: #ddd;
}
